<div class="row product-container">
    <div class="col-md-4 offset-1">
        <div class="product-list-box">
            <div class="product-header">
                <h3>Products</h3>
            </div>
            <div *ngIf="!loading" class="product-list-content">
                <div *ngIf="products && products.length > 0">
                    <div class="row border" style="padding: 3%" *ngFor="let product of products"
                        (click)="selectProduct(product)" [ngClass]="{'selected-row-style': product.rowSelected}">
                        <div class="col-md-4">
                            {{product.productName}}
                        </div>
                        <div class="col-md-2 offset-6">
                            {{product.price | currency}}
                        </div>
                    </div>
                </div>
                <div *ngIf="!products || products.length === 0">
                    You have no products. Please click <button class="btn btn-primary btn-spacing"
                        (click)="openAddProductModal()">Add</button> button to add a Product.
                </div>
            </div>
            <div *ngIf="loading" class="product-list-content" style="padding-left: 46%;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div style="margin-top: 2%">
            <ngb-alert *ngIf="successMsg" [type]="'success'" (close)="close(alert)">{{successMsg}}</ngb-alert>
            <ngb-alert *ngIf="errorMsg" [type]="'danger'" (close)="close(alert)">{{errorMsg}}</ngb-alert>
        </div>
    </div>
    <div class="col-md-6 offset-1">
        <div *ngIf="!loading" class="border text-center" style="border-radius: 5px;padding: 3%">
            <h4>Product Count: {{products.length}}</h4>
        </div>
        <div *ngIf="loading" class="border text-center" style="padding: 3%;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="selectedProduct && !hideProductDetail">
            <app-product-detail (refreshProductList)="getProducts();assignMessage($event)"
                [selectedProductId]="selectedProduct._id" (hideProductDetail)="hideProductDetail = $event">
            </app-product-detail>
        </div>
    </div>
</div>