<div class="login-container row">
    <div class="col-md-4 offset-4 login-box">
        <div class="login-header">
            <h3>Login</h3>
        </div>
        <div class="login-form">
            <form [formGroup]="loginData" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loginData.status === 'INVALID'">Login</button>
            </form>
        </div>
    </div>
</div>