<div class="modal-header">
    <h4 class="modal-title">Add Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="product-list-content">
    <form [formGroup]="productData" (ngSubmit)="addProduct()" #myform="ngForm">
        <div style="padding: 3%">
            <div class="form-group">
                <label for="productName">Name</label>
                <input type="text" id="productName" formControlName="productName" class="form-control"
                    [ngClass]="{'border border-danger': productData.get('productName').invalid && myform.submitted }">
                <div class="invalid-feedback" style="display: block"
                    *ngIf="productData.get('productName').invalid && myform.submitted ">
                    Please enter the Product Name
                </div>
            </div>
            <label for="price">Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                <input type="text" id="price" formControlName="price" class="form-control"
                    aria-describedby="basic-addon1"
                    [ngClass]="{'border border-danger': productData.get('price').invalid && myform.submitted }">
                <div class="invalid-feedback" style="display: block"
                    *ngIf="productData.get('price').invalid && myform.submitted ">
                    Please enter the Price
                </div>
            </div>
            <div class="form-group product-list-box">
                <div class="product-header">
                    <label for="rating">Rating</label>
                </div>
                <div class="product-list-content">
                    <input type="number" id="rating" formControlName="rating" class="form-control"
                        [ngClass]="{'border border-danger': productData.get('rating').invalid && myform.submitted }">
                    <div class="invalid-feedback" style="display: block"
                        *ngIf="productData.get('rating').invalid && myform.submitted ">
                        Please enter the Rating
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success btn-spacing">Save</button>
            </div>
        </div>
    </form>
</div>