.register-container {
    padding: 3%;
    padding-top: 10%;
}

input:focus {
    outline: 0px !important;
}

.register-box {
    border: 1px solid rgb(2, 2, 182);
    border-radius: 5px;
    padding: 0px;
}

.register-header {
    color: white;
    background: rgb(2, 2, 182);
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.register-form {
    padding: 5%;
}