<div class="product-list-box" *ngIf="selectedProduct">
    <div class="product-header">
        <span> Product Details</span><span style="float: right">{{selectedProduct.productName}}:
            {{selectedProduct._id}}</span>

    </div>
    <div class="product-list-content">
        <div style="padding: 3%">
            <div class="form-group">
                <label for="productName">Name</label>
                <input type="text" id="productName" [(ngModel)]="selectedProduct.productName" class="form-control">
            </div>
            <label for="price">Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">$</span>
                </div>
                <input type="text" id="price" [(ngModel)]="selectedProduct.price" class="form-control"
                    aria-describedby="basic-addon1">
            </div>
            <div class="form-group product-list-box">
                <div class="product-header">
                    <label for="rating">Rating</label>
                </div>
                <div class="product-list-content">
                    <input type="number" id="rating" [(ngModel)]="selectedProduct.rating" class="form-control">
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary btn-spacing" (click)="openAddProductModal()">Add</button>
                <button class="btn btn-success btn-spacing" (click)="updateProduct()">Save</button>
                <button class="btn btn-danger btn-spacing">Delete</button>
                <button class="btn btn-warning btn-spacing">Cancel</button>
            </div>
        </div>
    </div>
</div>